<!DOCTYPE html>
<html>

<head>
    <title>Certificates</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <nav>
        <a href="/">Home</a>
        <a href="/projects">Projects</a>
        <a href="/certificates">Certificates</a>
    </nav>

    <div class="container">

        <h1>Certificates</h1>

        <div class="card">

            <h2>Python Specialization</h2>

            <a href="https://drive.google.com/file/d/1Mc9oxl4spfSSP-203qaA8bIJUWbOEuUh/view?usp=sharing" target="_blank">
                View Certificate
            </a>

        </div>

    </div>

</body>

</html>