<!DOCTYPE html>
<html>

<head>
    <title>Pranav Portfolio</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <nav>
        <a href="/">Home</a>
        <a href="/projects">Projects</a>
        <a href="/certificates">Certificates</a>
    </nav>

    <div class="container">

        <h1>Pranav Uday Rane</h1>

        <p>
            CFD Engineer | Python Programmer | Aeronautical Engineer
        </p>

        <h2>Resume</h2>

        <a href="Yhttps://drive.google.com/file/d/1hTPfNxIO-_uWO6PnlnYe7zaxVzeBBH_F/view?usp=sharing" target="_blank">
            Open Resume
        </a>

    </div>

</body>

</html>