<!DOCTYPE html>
<html>

<head>
    <title>Projects</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <nav>
        <a href="/">Home</a>
        <a href="/projects">Projects</a>
        <a href="/certificates">Certificates</a>
    </nav>

    <div class="container">

        <h1>Projects</h1>

        <div class="card">

            <h2>CFD Solver Development</h2>

            <p>
                Developed finite volume CFD solver using MATLAB.
            </p>

            <a href="Yhttps://drive.google.com/file/d/1icn857AswVdwbv_YZpsu6jCGT0QfnAaL/view?usp=sharing" target="_blank">
                Open PDF
            </a>

        </div>

        <div class="card">

            <h2>UAV Aerodynamics</h2>

            <p>
                CFD analysis of UAV wing.
            </p>

            <a href="YOUR_PROJECT_PDF_LINK" target="_blank">
                Open PDF
            </a>

        </div>

    </div>

</body>

</html>