<!DOCTYPE html>
<html>

<head>
    <title>Projects</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <nav>
        <a href="/">Home</a>
        <a href="/projects">Projects</a>
        <a href="/certificates">Certificates</a>
    </nav>

    <div class="container">

        <h1>Projects</h1>

        <div class="card">

            <h2>Solving First Order ODEs</h2>

            <p>
                Developed a numerical simulation of a damped pendulum in Octave/MATLAB by solving nonlinear ordinary differential equations (ODEs). The project involved converting a second-order ODE into a system of first-order equations, implementing numerical solution techniques using `lsode`, generating displacement and velocity plots, and creating a pendulum motion animation to visualize the transient dynamics of the system.
            </p>

            <a class="resume-button"
            href="https://drive.google.com/file/d/1H3m2emlX-79WaNYhbUnlJBYPPJeYRYQ3/preview"
            target="_blank">

                View

            </a>

        </div>

        <div class="card">

            <h2>Tailor Table Method Explained</h2>

            <p>
                Derived and implemented fourth-order finite difference schemes for approximating the second derivative using central, right-skewed, and left-skewed formulations in Octave/MATLAB. The project involved analytical derivation using Taylor series expansion, solving coefficient matrices through LU decomposition, and validating numerical accuracy through error analysis and comparison with analytical solutions. The study also examined stencil behavior, boundary applicability, and the performance of schemes in diffusion- and convection-dominated problems.
            </p>

            <a class="resume-button"
            href="https://drive.google.com/file/d/1McSnFz10NrmMpOEk5qZcZAcvWSWt48_q/preview"
            target="_blank">

                View

            </a>

        </div>

    </div>

</body>

</html>